#navigation-table {
    background-color: bisque;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

#menu {
    width: 100%;
    text-align: center;
}

#menu > span {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

#menu > span > a {
    text-decoration: none;
}

#menu > span > a:hover {
    cursor:pointer;
}

#menu-td {
    vertical-align: top; 
    width: 100%;
}

#logo {
    display:block; margin:0 auto;
}