#caption1 {
  font-size: 26px;
  font-weight: bolder;
  padding: 10px;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 20px;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
 
  overflow: hidden;
  padding: 10px 5px;
}

thead {
  text-align: center;
  font-weight: bold;
}

